body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainDiv {
    height: 100vh;
    width: 99vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.listOfUsers {
    width: 100%;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 5px;
}

.elementOfList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    background-color: lightgray;
    padding: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    padding: 2px 15px;
    border-radius: 2px;
    border: 0.5px solid gray;
}

