@media screen and (max-width: 768px) {

    .wrapper {
        padding: 0 15px;
        width: 100%;
    }

    .container {
        background-color: white;
        margin: 40px auto 10px auto;
        padding: 30px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0.5em;
    }

    .form > .input-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .form > .input-group > input[name='nameValue'] {
        margin-right: 0;
        width: 100%;
    }

    .form > input[type='submit'] {
        width: 100%;
        margin-left: 0;
    }

    .listWithButtons {
        margin-top: 0.3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
    }

    .buttons,
    .buttons button,
    .buttons > .button-to-sort {
        width: 100%;
    }

    .button-to-sort {
        gap: 3px;
    }

    .buttons {
        gap: 7px;
    }

    #listOfNamesAndValues {
        width: 100%;
    height: 315px;
    }
}