@media screen and (min-width: 481px) and (max-width: 768px) {

    div.container {
        background-color: white;
        margin: 30px auto 10px auto;
        padding: 40px 30px 30px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .form {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

    .container .form > .input-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }

    .container .form > .input-group > input[name='nameValue'] {
        width: 100%;
    }

    .container .form > input[type='submit'] {
        width: 9%;
    }

    div .listWithButtons {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .button-to-sort {
        flex-direction: row;
    }

    #sortByNameButton,
    #sortByValueButton,
    #deleteButton {
        width: auto
    }

    .listWithButtons #listOfNamesAndValues {
        height: 385px;
    }

}