* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #5c8bba;
}

.wrapper {

    background-color: white;
    margin: 60px auto 20px auto;
    padding-left: 30px;
    padding-top: 30px;
    width: 90vw;
    height: 88vh;
}

form > label {
    display: block;
}

form > input[name='nameValue'] {
    width: 50%;
    margin-right: 40px;
    font-size: 20px;
}

h2 {
    margin: 30px 0 0 0;
    font-size: 16px;
    padding: 0;
    font-weight: normal;
}

.listWithButtons {
    display: flex;
    gap: 50px;
    width: 100%;
    height: 73%;
}

ul {
    list-style: none;
    border: 1px solid grey;
    width: 50%;
    height: 90%;
    padding: 0;
    margin: 0;
    overflow: auto;
    scroll-behavior: smooth;

}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px
}

#deleteButton {
    margin-top: 10px;
}