@media screen and (max-width: 768px) {
    .wrapper {
        background-color: white;
        margin: 60px auto 20px auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0.5em;
    }

    form > input[type='submit'] {
        margin: 0 auto;
        width: 80%;
        font-size: 1em;
    }

    form > input[name='nameValue'] {
        margin: 0 auto;
        width: 80%;
    }

    .listWithButtons {
        margin-top: 0.3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70%;
        gap: 15px

    }

    #listOfNamesAndValues {
        height: 70%;
        text-align: center;
        width: 80%;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    #deleteButton {
        margin-top: 0;
    }
}