body {
    background-color: #5c8bba;
}

.wrapper {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.container {
    background-color: white;
    margin: 60px auto 20px auto;
    padding: 60px 50px;
    border-radius: 5px;
}

.form {
    display: flex;
    align-items: flex-end;
}

.form > .input-group > label {
    margin-top: 20px;
    display: block;
}

.form > .input-group > input[name='nameValue'] {
    margin-top: 3px;
    width: 60vw;
    height: 25px;
    margin-right: 3em;
    font-size: 1em;
}

.form > input[type='submit'] {
    width: 50px;
    height: 25px;
}

.title-for-list {
    margin-top: 20px;
    font-size: 1em;
    font-weight: normal;
}

.listWithButtons {
    display: flex;
    gap: 3em;
}

#listOfNamesAndValues {
    width: 60vw;
    overflow: auto;
    list-style: none;
    border: 1px solid grey;
    height: 350px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.buttons button {
    padding: 0 7px;
    height: 25px;
}

.button-to-sort {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

