.mainDiv {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showPostButton {
    width: 90%;
    margin-top: 20px;
}

.postsTitleDiv {
    width: 100%;
    margin-top: 20px;
}

.listOfPostTitles {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.details {
    padding: 5px 15px;
}

.postTitleLi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    background-color: lightblue;
}

.postTitleLi p {
    text-align: center;
}